<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Practice5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>618A922E1DCBC46F00CEA9A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>618A92421DCBC46F00CEA9A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>618A924D1DCBC46F00CEA9A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
